h2.intro {
  font-weight: bold;
  width: 60%;
  margin: 0 auto;
}

p.intro {
  width: 60%;
  margin: 0 auto;
}

img.intro {
  display: block;
  margin: 0 auto;
  width: 400px;
}

div.container {
  text-align: center;
}
